<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.IniciativaMapper">

    <resultMap type='Iniciativa' id='IniciativaResult'>
		<result property='id' column='id'/>  
        <result property='nombrePropuesta' column='nombrePropuesta'/>  
		<result property='descripcion' column='descripcion'/>
		<result property='fechaInicio' column='fechaInicio'/>
		<result property='area' column='area'/>
		<result property='usuario' column='usuario'/>
		<result property='estado_Propuesta' column='estado_Propuesta'/> 
		<result property='nombreProponente' column='nombreProponente'/>
    </resultMap> 
	
	<resultMap type='PalabraClave' id='PalabraClaveResult'> 
		<result property='id' column='id'/> 
        <result property='palabraClave' column='palabraClave'/>  
    </resultMap> 
	
	<resultMap type='PCIniciativa' id='PCIniciativaResult'> 
		<result property='ini_id' column='ini_id'/> 
        <result property='palabras_clave' column='palabras_clave'/>  
    </resultMap> 
    
    <resultMap type="ReporteArea" id="DTO">
    	<result property='area' column='area'/>        
        <result property='numIniciativas' column='numIniciativas'/>
    </resultMap>
    
    <resultMap type='ReporteEstado' id='DTOestado'>
		<result property='estado_propuesta' column='estado_propuesta'/>
        <result property='numero' column='numero'/>
    </resultMap>
    
    <resultMap type='MeGusta' id='DTOLikes'>
		<result property='id' column='id'/>
    </resultMap>
	
	<resultMap type='Comentario' id='DTOComentarios'>
		<result property='idiniciativa' column='idiniciativa'/>
		<result property='idusuario' column='idusuario'/>
		<result property='comentario' column='comentario'/>
    </resultMap>

	<select id="consultarTodasLasPropuestas" resultMap="IniciativaResult" parameterType="map">
		SELECT 
		i.id,
	    i.nombrePropuesta,
		i.descripcion,
		i.fechaInicio,
		i.area,
		i.usuario,
		i.estado_Propuesta,
		u.nombre as nombreProponente
		FROM iniciativa as i
		JOIN usuario as u
		ON i.usuario = u.correo;
    </select>
	
	<insert id="insertarIniciativa" parameterType="Iniciativa">
		INSERT INTO Iniciativa (id, nombrePropuesta, descripcion, fechaInicio, area, usuario, estado_Propuesta) 
		VALUES((select count(*)+1 from Iniciativa),#{nombrePropuesta}, #{descripcion}, #{fechaInicio}, #{area}, #{usuario}, #{estadoPropuesta});
	</insert>
	
	<select id="consultarPropuestaPorUsuario" resultMap="IniciativaResult" parameterType="map">
		SELECT 
		i.id,
	    i.nombrePropuesta,
		i.descripcion,
		i.fechaInicio,
		i.area,
		i.usuario,
		i.estado_Propuesta,
		u.nombre as nombreProponente
	    FROM iniciativa as i, usuario as u
		WHERE i.usuario = u.correo and i.usuario = #{correo};
    </select>
  
	<select id="consultarPropuestaPorArea" resultMap="IniciativaResult" parameterType="map">
		SELECT 
	    i.nombrePropuesta,
		i.descripcion,
		i.fechaInicio,
		i.area,
		i.usuario,
		i.estado_Propuesta
	    FROM iniciativa as i, usuario as u
		WHERE i.usuario = u.correo and i.area = #{area};
    </select>
	
	<select id="consultarIdIniciativa" resultMap="IniciativaResult" parameterType="map">
		SELECT 
		i.id,
	    i.nombrePropuesta,
		i.descripcion,
		i.fechaInicio,
		i.area,
		i.usuario,
		i.estado_Propuesta
	    FROM iniciativa as i
		WHERE i.nombrePropuesta = #{nombrePropuesta};
    </select>
	
	<select id="consultarPalabrasClaveInciativa" resultMap="PalabraClaveResult" parameterType="map">
		SELECT 
		pc.id,
		pc.palabraClave
	    FROM PalabraClave as pc, PCIniciativa as pi
		WHERE pi.ini_id = #{ini_id} AND pi.palabras_clave = pc.id;
    </select>
	
	<select id="consultarIniciativaPalabraClave" resultMap="IniciativaResult" parameterType="map">
		SELECT 
		i.id,
	    i.nombrePropuesta,
		i.descripcion,
		i.fechaInicio,
		i.area,
		i.usuario,
		i.estado_Propuesta,
		u.nombre as nombreProponente
	    FROM iniciativa as i, PalabraClave as pc, PCIniciativa as pi, usuario as u
		WHERE pc.palabraClave = #{palabra} AND pc.id = pi.palabras_clave AND i.id = pi.ini_id AND i.usuario=u.correo;
    </select>
    
    <select id="agruparPropuestaPorArea" resultMap="DTO" parameterType="map">
		SELECT area, count(1) as numIniciativas FROM iniciativa
		GROUP BY area;
    </select>  
    
    <select id="consultarEstados" resultMap="DTOestado" parameterType="map">
		SELECT estado_propuesta, count(1) as numero FROM iniciativa
		GROUP BY estado_propuesta;
    </select> 
    
    <insert id="darLike">
		INSERT INTO MeGusta(idiniciativa,idusuario)
		VALUES (#{id_ini},#{id_usu});
	</insert>
	
	<insert id="comentar">
		INSERT INTO Comentario (idiniciativa,idusuario,comentario)
		VALUES (#{id_ini},#{id_usu},#{coment});
	</insert>
	
	<select id="consultarLikes" resultMap="DTOLikes" parameterType="map">
		SELECT id as megusta from MeGusta where idiniciativa = #{id_inic};
    </select> 
	
	<select id="consultarComentarios" resultMap="DTOComentarios" parameterType="map">
		SELECT c.idiniciativa, c.idusuario, c.comentario from Comentario as c where idiniciativa = #{id_inic};
    </select> 
	
	<select id="modificarIniciativaEstado">
		update Iniciativa set estado_Propuesta=#{estado_Propuesta} where nombrePropuesta=#{nombrePropuesta};
	</select>
	
	<insert id="insertarPalabraClave">
		INSERT INTO PalabraClave (palabraClave)
		VALUES (#{palabraClave});
	</insert>
	 
	<select id="consultarTodasLasPalabrasClaves" resultMap="PalabraClaveResult" parameterType="map">
		SELECT
		pc.id,
		pc.palabraClave
		FROM PalabraClave as pc;
	</select>
	
	<insert id="insertarPCIniciativa">
		INSERT INTO PCIniciativa (ini_id, palabras_clave)
		VALUES (#{ini_id}, #{palabras_clave});
	</insert>
	
	<update id='modificarPropuesta'>
    	update Iniciativa set 
    	nombrePropuesta=#{nombrePropuesta}, 
    	descripcion=#{descripcion}, 
    	area=#{area} 
    	where  i.usuario = u.correo and i.usuario=#{usuario} ;
    </update>
	
</mapper>