<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.IniciativaMapper">

    <resultMap type='Iniciativa' id='IniciativaResult'>
        <result property='nombrePropuesta' column='nombrePropuesta'/>  
		<result property='descripcion' column='descripcion'/>
		<result property='fechaInicio' column='fechaInicio'/>
		<result property='area' column='area'/>
		<result property='usuario' column='usuario'/>
		<result property='estado_Propuesta' column='estado_Propuesta'/>
		<result property='nombreProponente' column='nombreProponente'/>
		<collection property='palabrasClaves' ofType='java.lang.String' javaType="list"> 
		<result column='palabra' /> </collection>
    </resultMap>  
    
    <resultMap type="PalabraClave" id="PalabraClaveResult">       
        <result property='palabraClave' column='palabra'/>
    </resultMap>
    
    <resultMap type="Reporte" id="DTO">
    	<result property='area' column='area'/>        
        <result property='numIniciativas' column='numIniciativas'/>
    </resultMap>

	<select id="consultarTodasLasPropuestas" resultMap="IniciativaResult" parameterType="map">
		SELECT 
	    i.nombrePropuesta,
		i.descripcion,
		i.fechaInicio,
		i.area,
		i.usuario,
		i.estado_Propuesta,
		u.nombre as nombreProponente
		FROM iniciativa as i
		JOIN usuario as u
		ON i.usuario = u.correo;
    </select>
	
	<insert id="insertarIniciativa" parameterType="Iniciativa">
		INSERT INTO Iniciativa (nombrePropuesta, descripcion, fechaInicio, area, usuario, estado_Propuesta) 
		VALUES(#{nombrePropuesta}, #{descripcion}, #{fechaInicio}, #{area}, #{usuario}, #{estadoPropuesta});
	</insert>
	
	<select id="consultarPropuestaPorUsuario" resultMap="IniciativaResult" parameterType="map">
		SELECT 
	    i.nombrePropuesta,
		i.descripcion,
		i.fechaInicio,
		i.area,
		i.usuario,
		i.estado_Propuesta
	    FROM iniciativa as i, usuario as u
		WHERE i.usuario = u.correo and i.usuario = #{correo};
    </select>
    
    <insert id="insertarPalabraClave" parameterType="String">
    	INSERT INTO PalabraClave VALUES ((select count(*)+1 from PalabraClave), #{palabraClave});
    </insert>
    
    <insert id="insertarPCIniciativa">
    	INSERT INTO PCIniciativa (ini_id, palabras_clave) VALUES ((select max(id) from Iniciativa), (select max(id) from PalabraClave));
    </insert>
    
    <select id="consultarPalabrasClaveInciativa" resultMap="PalabraClaveResult" parameterType="map">
        SELECT pl.id,pl.palabra
		from initiative as i, pciniciativa as pc, palabraclave as pl
		where i.id=#{id} and pc.ini_id=i.id and pl.id=pc.palabras_clave
    </select>
    
    <select id="consultarTodasLasPalabrasClaves" resultMap= "PalabraClaveResult" parameterType="map">
    	select id, palabraClave from palabraclave;
    </select>
  
   <select id="consultarPropuestaPorArea" resultMap="IniciativaResult" parameterType="map">
		SELECT 
	    i.nombrePropuesta,
		i.descripcion,
		i.fechaInicio,
		i.area,
		i.usuario,
		i.estado_Propuesta
	    FROM iniciativa as i, usuario as u
		WHERE i.usuario = u.correo and i.area = #{area};
    </select>
    
    <select id="agruparPropuestaPorArea" resultMap="DTO" parameterType="map">
		SELECT area, count(1) as numIniciativas FROM iniciativa
 		GROUP BY area;
    </select>
	
	<update id='modificarIniciativaEstado'>
		update Iniciativa set estado_Propuesta =#{estado_Propuesta} where usuario=#{correo};
	</update>
  
</mapper>
