<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.UsuarioMapper">
        <resultMap type='Usuario' id='UsuarioResult'>
		<id property='id' column='id' \>
	    <id property='tid' column='tid' \>
		<id property='nombre' column='nombre' \>
		<id property='correo' column='correo' \>
		<id property='telefono' column='telefono' \>
		<id property='estado' column='estado' \>
		<id property='clave' column='clave' \>
		<id property='rol' column='rol' \>
	</resultMap>
	
	<select id="consultarUsuarios" resultMap="UsuarioResult">
		SELECT
		u.id,
		u.tid,
		u.nombre,
		u.correo,
		u.telefono,
		u.estado,
		u.clave
		u.rol,
		FROM 
		Usuario as u 
	</select>
	
	<select id="consultarUsuario" resultMap="UsuarioResult">
		SELECT
		u.id,
		u.tid,
		u.nombre,
		u.correo,
		u.telefono,
		u.estado,
		u.clave
		u.rol,
		FROM 
		Usuario as u 
		WHERE u.id = #{idU}
	</select>
	
	<select id="consultarUsuarioLog" resultMap="UsuarioResult">
		SELECT
		u.id,
		u.tid,
		u.nombre,
		u.correo,
		u.telefono,
		u.estado,
		u.clave
		u.rol,
		FROM 
		Usuario as u 
		WHERE u.id = #{idU} and u.clave = #{claveU}
	</select>
	
</mapper>
	