
.header{
	padding:0px;
	width: 100%;
	background-color: #b80f22;
	height: 36px;
}

ul, ol{
	list-style:none;
}

.nav li a{
	text-align: center;
	height:16px;
	width: 140px;
	padding:0px;
	background-color: #b80f22;
	color: #fff;
	text-decoration:none;
	padding:10px 15px;
	display:block;
	font-family: impact;
}

.nav > li{
	float:left;
}

.nav li a:hover{
	background-color: #DBDBDB;
	color: #000;
}

.nav li ul{
	padding:0px;
	display:none;

	min-width:140px;
}

.nav li:hover > ul{
	display: block;
}

.tabla{
	width:100%;
	margin-top:70px;
	font-size:14px;
}
.tabla th{
	background: #b80f22;
	box-shadow:none;
	border:none;
	color: #fff;
	text-shadow:none;
	font-size:14px;
	font-family:arial;
}

.header button{
	width: 140px;
	background: #b80f22;
	top: 140px;
	left: calc(100% - 150px);
	box-shadow: none;
	text-shadow:none;
	color: #C0C0C0;
	border:none;
	font-family: impact;
	position:absolute;
}

.header button:hover{
	color: #fff;
}

.header b{
	font-family: impact;
	position: absolute;
	top: 210px;
	left: 20px;
	color: #727070;
}
