body{
	margin : 0;
	padding : 0;
	background-image : 
	linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
	url(../img/fondologin.jpg);
	background-position: 0, 10;
	background-size: cover;
	font-family: sans-serif;
	height: 100vh;
}

.login-box {
	width: 355px;
	height: 350px;
	background: #fff;
	color: #727070;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-color: #fff;
	border-radius: 10px;
	border-top: 3px solid #b80f22;
	border-bottom: 3px solid #b80f22;
}

.login-box .avatar {
	width: 116px;
	height: 116px;
	border-radius: 50%;
	position: absolute;
	top: -58px;
	left: calc(50% - 58px);
} 

.login-box .form-control{
	margin-bottom:10px;
	box-shadow: none;
	background: transparent;
	border:none;
	color: #000;
	width: 100%;
	margin-bottom: 25px;
	border: none;
	outline: none;
	height: 40px;
	font-size: 16px;
	text-shadow: none;
	border-bottom: 2px solid #727070;
}

.login-box .form-control:focus{
	border-bottom: 3px solid #b80f22;
}

.login-box button{
	box-shadow: none;
	width: 100%;
	border: none;
	outline: none;
	height: 32px;
	background: #b80f22;
	color: #fff;
	font-size: 16px;
	border-radius: 5px;
	margin-top: 18px;
	width: 100%;
	text-shadow: none;
	font-family: Impact;
}

.login-box button:hover{
	background-color: #fff;
	color: #b80f22;
	border: 1px solid #b80f22;
}

.login-box .control-label{
	color: #b80f22;
	font-family: Impact;
}