body{
	margin : 0;
	padding : 0;
	background : url(../img/fondo3.jpg)no-repeat;
	background-position: 0, 10;
	background-size: cover;
	font-family: sans-serif;
	height: 100vh;
}

.login-box {
	width: 355px;
	height: 310px;
	background: #000;
	color: #000;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-color: #fff;
	border-radius: 10px;
	border-top: 2px solid #b80f22;
	border-bottom: 2px solid #b80f22;
}

.login-box .avatar {
	width: 116px;
	height: 116px;
	border-radius: 50%;
	position: absolute;
	top: -58px;
	left: calc(50% - 58px);
} 

.login-box .form-control{
<<<<<<< HEAD
	margin-bottom:10px;
	box-shadow: none;
	background: transparent;
	border:none;
	border-bottom: 1px solid #AAAAAA;
	color: #AAAAAA;
	width: 100%;
=======
	width: 100%;
	margin-bottom: 25px;
	background-color: #000;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
>>>>>>> 8531c5cfba982eddefad1813b4491d3e2c21d1b6
	height: 40px;
	font-size: 16px;
<<<<<<< HEAD
	text-shadow: none;
}

.login-box .btn{
	box-shadow: none;
=======
	width: 100%;
	margin-bottom: 20px;
	font-family: sans-serif;
	float: none;
}

.login-box .footer-text-center{
>>>>>>> 8531c5cfba982eddefad1813b4491d3e2c21d1b6
	border: none;
	outline: none;
	height: 32px;
	background: #b80f22;
	color: #fff;
	font-size: 16px;
	border-radius: 5px;
<<<<<<< HEAD
	margin-top: 18px;
	width: 100%;
	text-shadow: none;
	font-family: Impact;
}

.login-box .control-label{
	color: #AAAAAA;
	font-family: Impact;
}
=======
	font-family: sans-serif;
}
>>>>>>> 8531c5cfba982eddefad1813b4491d3e2c21d1b6
