body{
	
}

.registrar-iniciativa{
	width: 40%;
	height: 80vh;
	background-color: transparent;
	position:absolute;
	left: 10%;
	margin:10px;
	border:none;
	border-right: 1px solid #b80f22;
	margin-top:10px;
}

.registrar-pclaves{
	width: 40%;
	height: 75vh;
	background-color: transparent;
	position:relative;
	left: 50%;
	margin:10px;
	border:none;
}

.registrar-iniciativa p{
	position: absolute;
	color: #727070;
	font-family: Impact;
	left:0px;
}

.registrar-iniciativa label{
	padding-top:15px;
	display: block;
	margin-left: calc(50% - 175px);
	font-family: Impact;
	color: #b80f22;
}

.registrar-pclaves label{
	padding-top:15px;
	display: block;
	margin-left: calc(50% - 175px);
	font-family: Impact;
	color: #b80f22;
}

.registrar-iniciativa input[type="text"]{
	width: 350px;
	height: 40px;
	display: block;
	margin-left: calc(50% - 175px);
	border:none;
	border-bottom: 2px solid #727070;
}

.registrar-pclaves input[type="text"]{
	width: 350px;
	height: 40px;
	display: block;
	margin-left: calc(50% - 175px);
	border:none;
	border-bottom: 2px solid #727070;
}

.registrar-iniciativa .avatar{
	width: 90px;
	height:90px;
	padding-bottom: 15px;
	padding-left: calc(50% - 40px);
}

.cabecera img{
	margin-left:20px;
}

.registrar-iniciativa .form-control {
	box-shadow:none;
	border:none;
	width:72%;
	font-size:14px;
}		

.registrar-pclaves .form-control {
	box-shadow:none;
	border:none;
	width:72%;
	font-size:14px;
}		

.registrar-pclaves .btn{
	box-shadow:none;
	margin-top:40px;
	background: #b80f22;
	text-shadow: none;
	color: #fff;
	font-family: impact;
	width:72%;
	margin-left: 15%;
	border:none;
}

.registrar-iniciativa .btn:hover{
	border: 1px solid #b80f22;
	color: #b80f22;
	background-color: #fff;
}

.registrar-iniciativa .form-control:focus {
	border-bottom: 2px solid #b80f22;
}		

.registrar-pclaves .tabla {
	margin-left: 27%;
	margin-top: 50px;
	font-size:12px;
    width:44%;
	height:200px;
}

.registrar-pclaves .tabla th{
	background: #b80f22;
	box-shadow:none;
	border:none;
	color: #fff;
	text-shadow:none;
	font-size:14px;
	font-family:impact;
}

.registrar-pclaves .btn-agregar{
	box-shadow:none;
	margin-top:5px;
	background: #b80f22;
	text-shadow: none;
	color: #fff;
	font-family: impact;
	width:20%;
	margin-left: 67%;
	border:none;
	font-size:14px;
}

.registrar-iniciativa .areabox{
	box-shadow:none;
	border:none;
	width:72%;
	font-size:14px;
	width: 350px;
	height: 40px;
	display: block;
	margin-left: calc(50% - 175px);
	border:none;
	color:#000;
}



