body{
	
}

.registrar-iniciativa{
	width: 40%;
	height: 80vh;
	background-color: transparent;
	position:absolute;
	left: 10%;
	margin:10px;
	border:none;
	border-right: 1px solid #b80f22;
	margin-top:10px;
}

.registrar-pclaves{
	width: 40%;
	height: 75vh;
	background-color: transparent;
	position:relative;
	left: 50%;
	margin:10px;
	border:none;
}

.registrar-iniciativa p{
	color: #727070;
	padding-left: 184px;
	font-family: Impact;
}

.registrar-iniciativa label{
	padding-top:15px;
	display: block;
	margin-left: calc(50% - 175px);
	font-family: Impact;
	color: #b80f22;
}

.registrar-pclaves label{
	padding-top:15px;
	display: block;
	margin-left: calc(50% - 175px);
	font-family: Impact;
	color: #b80f22;
}

.registrar-iniciativa input[type="text"]{
	width: 350px;
	height: 40px;
	display: block;
	margin-left: calc(50% - 175px);
	border:none;
	border-bottom: 2px solid #727070;
}

.registrar-pclaves input[type="text"]{
	width: 350px;
	height: 40px;
	display: block;
	margin-left: calc(50% - 175px);
	border:none;
	border-bottom: 2px solid #727070;
}

.registrar-iniciativa .avatar{
	width: 90px;
	height:90px;
	padding-bottom: 15px;
	padding-left: calc(50% - 40px);
}

.header button{
	width: 140px;
	background: #b80f22;
	top: 140px;
	left: calc(100% - 150px);
	box-shadow: none;
	text-shadow:none;
	color: #C0C0C0;
	border:none;
	font-family: impact;
	position:absolute;
}

.header button:hover{
	color: #fff;
}

.cabecera img{
	margin-left:20px;
}

.registrar-iniciativa .form-control {
	box-shadow:none;
	border:none;
	width:72%;
	font-size:14px;
}		

.registrar-pclaves .form-control {
	box-shadow:none;
	border:none;
	width:72%;
	font-size:14px;
}		

.registrar-pclaves .btn{
	box-shadow:none;
	margin-top:40px;
	background: #b80f22;
	text-shadow: none;
	color: #fff;
	font-family: impact;
	width:72%;
	margin-left: 15%;
	border:none;
}

.registrar-iniciativa .btn:hover{
	border: 1px solid #b80f22;
	color: #b80f22;
	background-color: #fff;
}

.registrar-iniciativa .form-control:focus {
	border-bottom: 2px solid #b80f22;
}		

.registrar-pclaves .tabla {
	margin-left: 27%;
	margin-top: 50px;
	font-size:12px;
    width:44%;
	height:200px;
}

.registrar-pclaves .tabla th{
	background: #b80f22;
	box-shadow:none;
	border:none;
	color: #fff;
	text-shadow:none;
	font-size:14px;
	font-family:impact;
}

.registrar-pclaves .btn-agregar{
	box-shadow:none;
	margin-top:5px;
	background: #b80f22;
	text-shadow: none;
	color: #fff;
	font-family: impact;
	width:20%;
	margin-left: 67%;
	border:none;
	font-size:14px;
}

.registrar-iniciativa .areabox{
	box-shadow:none;
	border:none;
	width:72%;
	font-size:14px;
	width: 350px;
	height: 40px;
	display: block;
	margin-left: calc(50% - 175px);
	border:none;
	color:#000;
}

.header{
	padding:0px;
	width: 100%;
	background-color: #b80f22;
	height: 36px;
}

ul, ol{
	list-style:none;
}

.nav li a{
	text-align: center;
	height:16px;
	width: 140px;
	padding:0px;
	background-color: #b80f22;
	color: #fff;
	text-decoration:none;
	padding:10px 15px;
	display:block;
	font-family: impact;
}

.nav > li{
	float:left;
}

.nav li a:hover{
	background-color: #DBDBDB;
	color: #000;
}

.nav li ul{
	padding:0px;
	display:none;
	position:absolute;
	min-width:140px;
}

.nav li:hover > ul{
	display: block;
}

